<!-- Write here the questions you have been asked in interviews. If possible, associate them to an analyzed job offer. -->
<!-- This is an example of how to fill the question_bank.md file, which is part of the configuration for the interview-prep mode
Add here the questions you have received in previous interviews and save it in this folder as question_bank.md
-->

## General ones

- Why should we pick you?

## AAA — Cool Company — Dream Senior Job (Ideal Focus)

- What is your motivation to join The Cool Company in this particular role? (90 seconds)
- What are the skills and background experiences that make you ideal for this role? (90 seconds)
- What are your expectations from this role? (90 seconds)
- Tell us about one time in which you transformed one business idea into a statistical model. How did you do it? What did you consider? (120 seconds)
- Take one statistical approach you have worked with recently and describe its advantages and disadvantages for your use case. (120 seconds)

